{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="container mx-auto px-4 py-20 bg-gray-100">
    <div class="w-full max-w-md mx-auto mt-4">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="font-bold text-2xl mb-4">New Carrier Group</h2>
            <form method="POST" class="mb-4">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Save
                </button>

                <a href="{% url 'admindashboard' %}" class="bg-gray-100 font-bold py-2 px-4 rounded">
                    Cancel
                </a>
            </form>
        </div>

        <a href="{% url 'carrier_upload_csv' %} "class="group mb-5 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-gray-300">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            </span>
            Upload ECarrier CSV
        </a>

        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
            <h2 class="font-bold text-2xl mb-4">Existing Carrier Groups</h2>
            <ul class="list-disc list-inside">
                {% for group in object_list %}
                <li class="mb-2">{{ group.name }}</li>
                {% empty %}
                <li class="mb-2">No carrier groups yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

