{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<head>
    {{ form.media }} <!-- needed for JS/GoogleMaps lookup -->
</head>
{% if notification %}
<div class="bg-green-500 text-white text-center py-3">
    <p>{{ notification }}</p>
</div>
{% endif %}
  <h1 class="text-xl font-bold mb-4 px-20">Create Label Group</h1>
  <form class="px-20" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-bold rounded mt-4">Create</button>
  </form>
{% endblock %}
