{% extends 'base.html'%}



{% block content %}
{% load tailwind_filters %}
<div>
    <div class=" bg-opacity-5 bg-white h-screen text-white bg-center px-8 mx-auto xl:px-0 p-10 " style="background-image: url(https://i.imgur.com/6J2u9fW.png); background-size: cover;">
        <form class="w-1/2 flex flex-col bg-white text-white border rounded-2xl mx-auto 0 px-5 shadow-lg sm:px-10" method="POST">
            <h1 class="text-center text-black text-xl font-bold py-5">357 Login</h1>
        
                {% csrf_token %}
                {{ form|crispy }}

                <input class="flex items-center justify-center mx-auto h-12 w-full px-5 sm:w-64 bg-indigo-500 mt-8 rounded font-semibold text-sm text-blue-100 hover:bg-blue-700" type="submit" value="Login"></input>
                <div class="flex mt-6 justify-center text-xs">        
                </div>
            </form>
 </div>

 {% endblock %}



           





