{% extends 'base.html' %}
{% load tailwind_filters %}



{% block content %}
<head>
    {{ form.media }} <!-- needed for JS/GoogleMaps lookup -->
</head>

  



<h1 class="text-3xl font-bold mb-6 text-center">Create a new quote account</h1>
<div class="flex justify-center">
  <a href="{% url 'quote_dashboard' %}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">
    Go to Quote Dashboard
  </a>
</div>

  <form method="post" class="bg-white rounded-lg shadow-md p-8">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">Create</button>
  </form>

  <style>
    #id_address {
      width: 100%;
    }
  </style>
{% endblock %}